POSTGRES_DB=changetrackr
POSTGRES_USER=changetrackr
POSTGRES_PASSWORD=
POSTGRES_FORWARD_PORT=5432

REDIS_PASSWORD=
REDIS_FORWARD_PORT=6379

MAILPIT_SMTP_FORWARD_PORT=1025
MAILPIT_UI_FORWARD_PORT=8025
